<div class="container">

<h2>USER:</h2>
<h4><ul>
  	<li>USER ID: {{model.id}}</li>
    <li>EMAIL:   {{model.email}}</li>
</ul></h4>

<hr style="height:1px;border:none;color:#333;background-color:#333;">

	<h1>CREATE POSTS </h1>
	<h3>TITLE: {{input value = title}}<br></h3><hr>
	<h3>BODY: {{input value = body}}<br></h3><hr>
	<h3>BY USER: {{model.id}} -- {{model.email}}<br></h3><hr>
	<button {{action "createPost" model=model }}>Create</button>

<hr style="height:1px;border:none;color:#333;background-color:#333;">

<h2>POSTS BY {{model.email}}:</h2>
{{#each model.posts as |post|}}
	<br><a href='/posts/{{post.id}}'>{{post.title}}</a><br>
{{/each}}



</div>

{{outlet}}